.flexbox {
    padding-top: 40px;
}
.flexbox > .box {
    width: 25%;
    height: 22vh;
    margin: 4px 40px;
}
.box > p {
    width: 90%;
    margin: auto;
    color: #949598;
}
#menuBox {
    position: absolute;
    width: 98vw;
    top: 0px;
    left: 0px;
    background-color: #23272A;
}
#mainMenu {
    width: 45vw;
    padding: 10px 0px 0px 10px;
    justify-content: left;
}
#mainMenu > .menuItem {
    width: 7vw;
    height: 6vh;
    margin: 10px;
    color: #929496;
    line-height: 5.5vh;
    text-decoration: none;
    transition: color .13s ease-out;
}
#mainMenu img {
    padding: 0px 0px 7px 10px;
    width: 99.9%;
}
#mainMenu > a:hover {
    color: white;
}
.centeredHeading18 {
    color: white;
    text-align: center;
    padding-top: 18vh;
}