body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
    background-color: #23272a;
}

#navbar {
    overflow: hidden;
    height: 84px;
    z-index: 1;
    background-color: #2c2f33;
}

#logo {
    float: left;
    margin: 12px 20px auto 12px;
    width: 140px;
    position: absolute;
    z-index: 1;
}

#srch {
    float: right;
    margin: 26px 30px auto auto;
    width: 30px;
}

#pages {
    margin: 9px 0px 0px 22px;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 97%;
    height: 22px;
    font-size: 17px;
    z-index: 1;
    list-style-type: none;
}

.dropdown > a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 24px 20px;
    height: 22px;
    display: flex;
}

area {
    margin-top: 14px;
    height: 40px;
    width: 1px;
    background-color: white;
}

.dropdown > a:hover {
    transform: scale(1.09);
    transition: transform 0.1s ease-in-out;
}

#pages .location {
    color: #f52549;
    font-weight: bold;
}

.dropdown-content {
    top: 60px;
    position: absolute;
    width: max-content;
    text-align: left;
    height: 0px;
}

.dropdown-content a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 6px 16px;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in;
}

.dropdown-content a:hover {
    color: #f52549;
    font-weight: bold;
}

.dropdown:hover .dropdown-content > a {
    opacity: 1;
    visibility: visible;
}

h1 {
    margin-top: 120px;
    padding-left: 340px;
    text-align: left;
    color: white;
}

p {
    color: white;
    width: 600px;
    padding-left: 130px;
    font-size: 13pt;
    line-height: 1.5;
}

#author {
    font-size: 75%;
    padding-left: 5px;
    padding-bottom: 5px;
    color: #d3d3d3
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #090a0f;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
